@tailwind base;
@tailwind components;
@tailwind utilities;

.menu.style{
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    right: 0;
    padding: 40px;
    background-color: #fff;
}

.menu.style li{
    margin-bottom: 20px;
}
.menu.style li a{
    color:#000;
}